force-app/main/default/flows/Contract_Insert_Create_Thread.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_Record_Type_Id_Tiltak_Agreement</name>
        <label>Is Record Type Id Tiltak Agreement</label>
        <locationX>924</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_Is_Tiltak_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TiltakAgreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thread_To_Create</targetReference>
            </connector>
            <label>It Is Tiltak Agreement</label>
        </rules>
    </decisions>
    <description>Create a thread for the contract when inserted.</description>
    <interviewLabel>Contract- Insert Create Thread {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract- Insert Create Thread</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Thread to create</description>
        <name>Thread_To_Create</name>
        <label>Thread To Create</label>
        <locationX>506</locationX>
        <locationY>382</locationY>
        <inputAssignments>
            <field>AAREG_Thread_Subject__c</field>
            <value>
                <stringValue>Midlertidig lønnstilskudd</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Account__c</field>
            <value>
                <elementReference>$Record.TAG_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Related_Object__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread_Type__c</field>
            <value>
                <stringValue>AG_MLØNN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_RelatedObjectExternalId__c</field>
            <value>
                <elementReference>$Record.ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>376</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Record_Type_Id_Tiltak_Agreement</targetReference>
        </connector>
        <object>Contract__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
