force-app/main/default/flows/TAG_Dialog_Thread_Set_to_Redaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Thread_For_Redaction</name>
        <label>Set Thread For Redaction</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Get_Thread.STO_Sensitive_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sensitive_Toggle.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread.Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thread_Cause</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Thread</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_messages_on_Thread</name>
        <label>Are there messages on Thread?</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_Messages_for_Redaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Messages_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messages</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Sensitive_Information_Is_True</targetReference>
            </connector>
            <label>Messages exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Sensitive_Information_Is_True</name>
        <label>Check If Sensitive Information Is True</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_Thread_to_Redaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread.STO_Sensitive_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redaction_Thread_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Thead_Is_Set_To_Redaction</name>
        <label>Check If Thead Is Set To Redaction</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSetToRedaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread.STO_Sensitive_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Thread.Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Thread_Cause</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish_Screen</targetReference>
            </connector>
            <label>IsSetToRedaction</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ConversationNote_Cause</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Cause__c</picklistField>
        <picklistObject>Conversation_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Thread_Cause</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Cause__c</picklistField>
        <picklistObject>Thread__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>TAG {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Dialog Thread Set to Redaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messages</name>
        <label>Get Messages</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_messages_on_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Messages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Thread</name>
        <label>Update Thread</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Check_If_Thead_Is_Set_To_Redaction</targetReference>
        </connector>
        <inputReference>Get_Thread</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_toast</name>
            <extensionName>c:fcFlowCloseWithToast</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>closeModal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Det oppstod en feil!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Klarte ikke å sette henvendelsen til sladding.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_toast</name>
            <extensionName>c:fcFlowCloseWithToast</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>closeModal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Vellykket!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Henvendelsen ble satt til sladding.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Messages_for_Redaction</name>
        <label>No Messages for Redaction</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoMessages</name>
            <fieldText>&lt;p&gt;Det finnes ingen samtale i tråden som kan settes til sladding.
                &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redaction_Thread_Screen</name>
        <label>Redaction Thread Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Message</name>
            <fieldText>&lt;p&gt;Samtaletråden er allerede satt til sladding.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Thread_to_Redaction</name>
        <label>Set Thread to Redaction</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Thread_For_Redaction</targetReference>
        </connector>
        <fields>
            <name>Sensitive_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Samtalen skal vurderes for sladding</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Ja</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nei</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cause</name>
            <choiceReferences>Thread_Cause</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Utenfor NAVs behandlingsområde</stringValue>
            </defaultValue>
            <fieldText>Årsak</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sensitive_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Ferdig</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textForNoMessages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Det finnes ingen samtaler for sladding</stringValue>
        </value>
    </variables>
</Flow>