force-app/main/default/flows/TAG_Trigger_Send_Employer_Notification_with_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_notification_with_SMS</name>
        <label>Send notification with SMS</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <actionName>TAG_ExtNotificationFlowController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dispatchWindow</name>
            <value>
                <stringValue>CONTINUOUSLY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enterpriseNumber</name>
            <value>
                <elementReference>$Record.TAG_Account__r.INT_OrganizationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>ExternalId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupingId</name>
            <value>
                <elementReference>$Record.KafkaId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>label</name>
            <value>
                <elementReference>labelNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationText</name>
            <value>
                <elementReference>Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>$Record.TAG_EmployerContactPhone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendAsync</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendSms</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceCode</name>
            <value>
                <elementReference>serviceCodeAltinn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceEdition</name>
            <value>
                <elementReference>serviceEditionAltinn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>smsText</name>
            <value>
                <elementReference>smsNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>https://forms.office.com/e/51VEtMrDU1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TAG_ExtNotificationFlowController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Variables_for_Arbeidstrening</name>
        <label>Variables for Arbeidstrening</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>processingThemeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ab0422</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>labelNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Arbeidstrening</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceCodeAltinn</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5332</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceEditionAltinn</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification_with_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variables_for_Midlertidig_L_nnstilskudd</name>
        <label>Variables for Midlertidig Lønnstilskudd</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>processingThemeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ab0336</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>labelNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lønnstilskudd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceCodeAltinn</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5516</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceEditionAltinn</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification_with_SMS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Category_of_MeasureAgreement</name>
        <label>What Category of MeasureAgreement?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Send_notification_with_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Midlertidig_l_nnstilskudd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIDLERTIDIG_LONNSTILSKUDD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variables_for_Midlertidig_L_nnstilskudd</targetReference>
            </connector>
            <label>Midlertidig lønnstilskudd</label>
        </rules>
        <rules>
            <name>Arbeidstrening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARBEIDSTRENING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variables_for_Arbeidstrening</targetReference>
            </connector>
            <label>Arbeidstrening</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExternalId</name>
        <dataType>String</dataType>
        <expression>{!$Record.ExternalId__c} + &apos;-&apos; + {!TimeStamp}</expression>
    </formulas>
    <formulas>
        <name>TimeStamp</name>
        <dataType>String</dataType>
        <expression>TEXT((DATETIMEVALUE(NOW()) - DATETIMEVALUE( &quot;1970-01-01 00:00:00&quot; )) * 86400)</expression>
    </formulas>
    <interviewLabel>TAG Trigger Send Employer Notification with SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Trigger Send Employer Notification with SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Category_of_MeasureAgreement</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_Discussed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Du har mottatt en spørreundersøkelse om dialogløsningen mellom din virksomhet og Nav. Hjelp oss å gjøre det lettere for deg. Klikk her for å komme til undersøkelsen (tar ca. 3-5 min å fullføre). Frist: fredag 13. desember</text>
    </textTemplates>
    <textTemplates>
        <name>smsNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hei! Har du forsøkt vår nye meldingstjeneste for arbeidstrening og lønnstilskudd på Min side arbeidsgiver? Uansett om du har brukt tjenesten eller ikke, ønsker vi din tilbakemelding for å videreutvikle tjenesten og styrke dialogen mellom Nav og arbeidsgivere. Logg inn på Min side arbeidsgiver for å gi din tilbakemelding. Hilsen Nav</text>
    </textTemplates>
    <variables>
        <name>labelNotification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>processingThemeCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceCodeAltinn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceEditionAltinn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
