force-app/main/default/flows/TAG_Dialog_Journal_Thread_to_JOARK_Retry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Document</name>
        <label>Generate Document</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Document_Variant_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>visualForceReference</name>
            <value>
                <stringValue>/apex/CRM_Thread_ORG_PDF?id={!Journal_Entry_Record.CRM_Thread__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CRM_JournalUtilities</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>PDF_Document</assignToReference>
            <name>documentString</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Calls journal utils to perform the API post action</description>
        <name>Post_Journal_Request</name>
        <label>Post Journal Request</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Post_State</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>journalRequest</name>
            <value>
                <elementReference>Journal_Request_Wrapper</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navIdent</name>
            <value>
                <elementReference>Journal_Entry_Record.CRM_Created_By_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>Journal_Entry_Record.CRM_Thread__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST_JOURNAL</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CRM_JournalUtilities</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Journal_Documents</name>
        <label>Assign Journal Documents</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Journal_Documents.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Variant_PDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Journal_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.brevkode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRM_TILTAKSDIALOG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Sak</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journal_Entry_Default_Data</name>
        <label>Assign Journal Entry Default Data</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_Record.CRM_Journal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journal_Request</name>
        <label>Assign Journal Request</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Journal_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.kanal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NAV_NO_CHAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.sak</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Sak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.journalpostType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INNGAAENDE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.dokumenter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.journalfoerendeEnhet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_Record.CRM_Created_By_NAV_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.bruker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ORGNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.bruker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Record.INT_OrganizationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.avsenderMottaker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ORGNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.avsenderMottaker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Record.INT_OrganizationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.tema</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TIL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.avsenderMottaker.navn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.tilleggsopplysninger</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Tilleggsopplysninger</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request_Wrapper.eksternReferanseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Journal_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journal_Sak</name>
        <label>Assign Journal Sak</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Journal_Sak.sakstype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GENERELL_SAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tilleggsopplysninger</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tilleggsopplysninger</name>
        <label>Assign Tilleggsopplysninger</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Journal_Tilleggsopplysninger.nokkel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SF_TiltakDialog</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Tilleggsopplysninger.verdi</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thread_Record_JOURNALED.TAG_RelatedObjectExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Document_Variant_Assignment</name>
        <label>Document Variant Assignment</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDF_Document</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARKIV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Completed</name>
        <label>Set Post Completed</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_Record.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_Record.Journal_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal_Request.journalpostId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Thread_Record_JOURNALED.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Info_About_Journal_Into_Thread_FInal_Retry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Completed_Active_Thread</name>
        <label>Set Post Completed Active Thread</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_Record.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_Record.Journal_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal_Request.journalpostId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Thread_Record_JOURNALED.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Info_About_Journal_Into_Thread_Retry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Failed</name>
        <label>Set Post Failed</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_Record.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Thread_Record_JOURNALED.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Entry_Default_Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Post_State</name>
        <label>Check Post State</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Set_Post_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Post Failed</defaultConnectorLabel>
        <rules>
            <name>Success_Complete_Thread</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal_Request.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Thread_Record_JOURNALED.CRM_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Post_Completed</targetReference>
            </connector>
            <label>Success Complete Thread</label>
        </rules>
        <rules>
            <name>Success_Active_Thread</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal_Request.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Thread_Record_JOURNALED.CRM_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Post_Completed_Active_Thread</targetReference>
            </connector>
            <label>Success Active Thread</label>
        </rules>
    </decisions>
    <decisions>
        <name>DML_Check</name>
        <label>DML Check</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <defaultConnectorLabel>No DML</defaultConnectorLabel>
        <rules>
            <name>Do_DML</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PERFORM_DML</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Journal_Entry</targetReference>
            </connector>
            <label>Do DML</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Document_Journal_Title</name>
        <dataType>String</dataType>
        <expression>IF({!Thread_Record_JOURNALED.CRM_isActive__c} == true,
&apos;Pågående samtale med Nav - Avtalenr &apos; + {!Thread_Record_JOURNALED.TAG_RelatedObjectExternalId__c} + &apos; - &apos; + {!THREAD_START_DATE},
&apos;Komplett samtale med Nav - Avtalenr &apos; + {!Thread_Record_JOURNALED.TAG_RelatedObjectExternalId__c} + &apos; - &apos; + {!THREAD_CLOSE_DATE}
)</expression>
    </formulas>
    <formulas>
        <name>THREAD_CLOSE_DATE</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY(DATEVALUE({!Thread_Record_JOURNALED.CRM_Closed_Date__c}))),2,&apos;0&apos;) + &apos;.&apos; + LPAD(TEXT(MONTH(DATEVALUE({!Thread_Record_JOURNALED.CRM_Closed_Date__c}))),2,&apos;0&apos;) + &apos;.&apos; + TEXT(YEAR(DATEVALUE({!Thread_Record_JOURNALED.CRM_Closed_Date__c})))</expression>
    </formulas>
    <formulas>
        <name>THREAD_START_DATE</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY(DATEVALUE({!Thread_Record_JOURNALED.CRM_Date_Time_Registered__c}))),2,&apos;0&apos;) + &apos;.&apos; + LPAD(TEXT(MONTH(DATEVALUE({!Thread_Record_JOURNALED.CRM_Date_Time_Registered__c}))),2,&apos;0&apos;) + &apos;.&apos; + TEXT(YEAR(DATEVALUE({!Thread_Record_JOURNALED.CRM_Date_Time_Registered__c})))</expression>
    </formulas>
    <interviewLabel>TAG Dialog Journal Thread to JOARK Retry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Dialog Journal Thread to JOARK Retry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Info_About_Journal_Into_Thread_FInal_Retry</name>
        <label>Insert Info About Journal Into Thread FInal Retry</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assign_Journal_Entry_Default_Data</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Event_Type__c</field>
            <value>
                <stringValue>JOURNAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <stringValue>Komplett samtale ble journalført.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>Thread_Record_JOURNALED.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Type__c</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Info_About_Journal_Into_Thread_Retry</name>
        <label>Insert Info About Journal Into Thread Retry</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assign_Journal_Entry_Default_Data</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Event_Type__c</field>
            <value>
                <stringValue>JOURNAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <stringValue>Tråden ble journalført.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>Thread_Record_JOURNALED.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Type__c</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Thread_Record_JOURNALED.CRM_Account__r.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>INT_OrganizationNumber__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread_Record</name>
        <label>Get Thread Record</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Entry_Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <object>Thread__c</object>
        <outputReference>Thread_Record_JOURNALED</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <queriedFields>CRM_From_External__c</queriedFields>
        <queriedFields>CRM_Journal_Status__c</queriedFields>
        <queriedFields>CRM_Closed_Date__c</queriedFields>
        <queriedFields>CRM_isActive__c</queriedFields>
        <queriedFields>CRM_Date_Time_Registered__c</queriedFields>
        <queriedFields>TAG_RelatedObjectExternalId__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Journal_Entry</name>
        <label>Update Journal Entry</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Update_Thread</targetReference>
        </connector>
        <inputReference>Journal_Entry_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Thread</name>
        <label>Update Thread</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <inputReference>Thread_Record_JOURNALED</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Thread_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Document_Variant_PDF</name>
        <apexClass>CRM_Dokumentvarianter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Journal_Documents</name>
        <apexClass>CRM_Dokumenter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Journal_Entry_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <name>Journal_Request_Wrapper</name>
        <apexClass>CRM_JournalEntryWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Journal_Sak</name>
        <apexClass>CRM_Sak</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Journal_Tilleggsopplysninger</name>
        <apexClass>CRM_Tilleggsopplysninger</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PDF_Document</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PERFORM_DML</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Thread_Record_JOURNALED</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Thread__c</objectType>
    </variables>
</Flow>
