force-app/main/default/flows/TAG_Send_Custom_Notification_With_Sms_to_Employer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_notification_with_SMS</name>
        <label>Send notification with SMS</label>
        <locationX>704</locationX>
        <locationY>1092</locationY>
        <actionName>TAG_ExtNotificationFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_notified_AccountId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dispatchWindow</name>
            <value>
                <stringValue>CONTINUOUSLY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enterpriseNumber</name>
            <value>
                <elementReference>Loop_through_contracts_and_send_notification_with_sms.TAG_Account__r.INT_OrganizationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>ExternalId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupingId</name>
            <value>
                <elementReference>Loop_through_contracts_and_send_notification_with_sms.KafkaId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>label</name>
            <value>
                <elementReference>labelNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationText</name>
            <value>
                <elementReference>Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Loop_through_contracts_and_send_notification_with_sms.TAG_EmployerContactPhone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendAsync</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendSms</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceCode</name>
            <value>
                <elementReference>serviceCodeAltinn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceEdition</name>
            <value>
                <elementReference>serviceEditionAltinn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>smsText</name>
            <value>
                <elementReference>smsNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>https://forms.office.com/e/51VEtMrDU1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TAG_ExtNotificationFlowController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_notified_AccountId</name>
        <label>Add notified AccountId</label>
        <locationX>704</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>AccountNotified</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_contracts_and_send_notification_with_sms.TAG_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contracts_and_send_notification_with_sms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variables_for_Arbeidstrening</name>
        <label>Variables for Arbeidstrening</label>
        <locationX>704</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>processingThemeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ab0422</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>labelNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Arbeidstrening</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceCodeAltinn</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5332</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceEditionAltinn</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification_with_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variables_for_Midlertidig_L_nnstilskudd</name>
        <label>Variables for Midlertidig Lønnstilskudd</label>
        <locationX>440</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>processingThemeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ab0336</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>labelNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lønnstilskudd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceCodeAltinn</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5516</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceEditionAltinn</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification_with_SMS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Employer_was_notified_already</name>
        <label>Check if Employer was notified already</label>
        <locationX>484</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>What_category_of_MeasureAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has not been notified</defaultConnectorLabel>
        <rules>
            <name>Has_been_notified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountNotified</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_contracts_and_send_notification_with_sms.TAG_Account__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_contracts_and_send_notification_with_sms</targetReference>
            </connector>
            <label>Has been notified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_thread_active</name>
        <label>Is thread active?</label>
        <locationX>814</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Loop_through_contracts_and_send_notification_with_sms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Thread_is_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_contracts_and_send_notification_with_sms.Thread__r.CRM_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Employer_was_notified_already</targetReference>
            </connector>
            <label>Thread is active</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_category_of_MeasureAgreement</name>
        <label>What category of MeasureAgreement?</label>
        <locationX>704</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Send_notification_with_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Midlertidig_l_nnstilskudd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_contracts_and_send_notification_with_sms.TAG_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIDLERTIDIG_LONNSTILSKUDD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variables_for_Midlertidig_L_nnstilskudd</targetReference>
            </connector>
            <label>Midlertidig lønnstilskudd</label>
        </rules>
        <rules>
            <name>Arbeidstrening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_contracts_and_send_notification_with_sms.TAG_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARBEIDSTRENING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variables_for_Arbeidstrening</targetReference>
            </connector>
            <label>Arbeidstrening</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExternalId</name>
        <dataType>String</dataType>
        <expression>{!Loop_through_contracts_and_send_notification_with_sms.ExternalId__c} + &apos;-&apos; + {!TimeStamp}</expression>
    </formulas>
    <formulas>
        <name>TimeStamp</name>
        <dataType>String</dataType>
        <expression>TEXT((DATETIMEVALUE(NOW()) - DATETIMEVALUE( &quot;1970-01-01 00:00:00&quot; )) * 86400)</expression>
    </formulas>
    <interviewLabel>TAG Send Custom Notification With Sms to Employer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Send Custom Notification With Sms to Employer</label>
    <loops>
        <name>Loop_through_contracts_and_send_notification_with_sms</name>
        <label>Loop through contracts and send notification with sms</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_contracts_with_possible_Dialogue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_thread_active</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract_record_type_MeasureAgreement</name>
        <label>Get Contract record type MeasureAgreement</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contracts_with_possible_Dialogue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MeasureAgreement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contracts_with_possible_Dialogue</name>
        <label>Get contracts with possible Dialogue</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_contracts_and_send_notification_with_sms</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_record_type_MeasureAgreement.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TAG_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MIDLERTIDIG_LONNSTILSKUDD</stringValue>
            </value>
        </filters>
        <filters>
            <field>TAG_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ARBEIDSTRENING</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Eidsvoll Hurdal</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Lillehammer-Gausdal</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Nannestad Gjerdrum</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Nes i Akershus</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Odal</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Sandefjord</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Tønsberg</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Ullensaker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_record_type_MeasureAgreement</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-12-09</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Du har mottatt en spørreundersøkelse om dialogløsningen mellom din virksomhet og Nav. Hjelp oss å gjøre det lettere for deg. Klikk her for å komme til undersøkelsen (tar ca. 3-5 min å fullføre). Frist: fredag 13. desember</text>
    </textTemplates>
    <textTemplates>
        <name>smsNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hei! Har du forsøkt vår nye meldingstjeneste for arbeidstrening og lønnstilskudd på Min side arbeidsgiver? Uansett om du har brukt tjenesten eller ikke, ønsker vi din tilbakemelding for å videreutvikle tjenesten og styrke dialogen mellom Nav og arbeidsgivere. Logg inn på Min side arbeidsgiver for å gi din tilbakemelding. Hilsen Nav</text>
    </textTemplates>
    <variables>
        <name>AccountNotified</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>labelNotification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>processingThemeCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceCodeAltinn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceEditionAltinn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
