force-app/main/default/flows/TAG_Dialogue_Create_Journal_Entry_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Custom_Notification</name>
        <label>Create Custom Notification</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification_Record_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>contractUserIdsStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Partner-avtale har start-dato i morgen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBodyFormulaStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Custom_Notification_End_Date</name>
        <label>Create Custom Notification End Date</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification_Record_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>contractUserIdsStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Partner-avtale avsluttes om tre dager</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBodyFormulaStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_internal_contact_user_id</name>
        <label>Add internal contact user id</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>contractUserIdsStartDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_custom_notification_Record_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_internal_contact_user_id_end_date</name>
        <label>Add internal contact user id end date</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>contractUserIdsEndDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_custom_notification_Record_ID_end_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Edit_Thread_Status</name>
        <label>Edit Thread Status</label>
        <locationX>1898</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Get_Thread.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread.CRM_isActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Thread</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Thread_has_Messages</name>
        <label>Check if Thread has Messages</label>
        <locationX>1898</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Messages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread.CRM_Number_of_Messages__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_recordtype_id</targetReference>
            </connector>
            <label>Has Messages</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_contract_active</name>
        <label>Is contract active?</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Past_end_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Godkjent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Past_end_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_partner_status</targetReference>
            </connector>
            <label>Past end date</label>
        </rules>
        <rules>
            <name>Before_end_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Before_end_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_internal_contact_user_id_end_date</targetReference>
            </connector>
            <label>Before end date</label>
        </rules>
        <rules>
            <name>Day_before_start_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Day_before_start_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_internal_contact_user_id</targetReference>
            </connector>
            <label>Day before start date</label>
        </rules>
        <rules>
            <name>Before_start_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Before_start_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAG_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Utkast</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_partner_status_to_utkast</targetReference>
            </connector>
            <label>Before start date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Thread_found_and_not_journaled</name>
        <label>Thread found and not journaled?</label>
        <locationX>1634</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Edit_Thread_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Thread.CRM_Journal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journal Completed</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_agreement</name>
        <label>Type of agreement</label>
        <locationX>1106</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Get_Thread</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Measure agreement</defaultConnectorLabel>
        <rules>
            <name>Employer_agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAG_Type_Partner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_contract_active</targetReference>
            </connector>
            <label>Employer agreement</label>
        </rules>
    </decisions>
    <description>This flow creates journal entries for dialogues, where agreements are closed and older than 12 weeks. The flow also updates status of employer partner agreements where end date is overdue</description>
    <environments>Default</environments>
    <formulas>
        <name>beforeEndDateFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.TAG_EndDate__c = TODAY() - 3}, true, false)</expression>
    </formulas>
    <formulas>
        <name>beforeStartDateFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.TAG_StartDate__c &gt; TODAY()}, true, false)</expression>
    </formulas>
    <formulas>
        <name>dayBeforeStartDateFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.TAG_StartDate__c = TODAY() + 1}, true, false)</expression>
    </formulas>
    <formulas>
        <name>notificationBodyFormulaEndDate</name>
        <dataType>String</dataType>
        <expression>&quot;Det er en partner-avtale som har slutt-dato om tre dager, som du er registrert som eier av. Gjelder avtale &quot; + {!$Record.Name} + &quot; p책 virksomhet &quot; + {!$Record.TAG_Account__r.Name}</expression>
    </formulas>
    <formulas>
        <name>notificationBodyFormulaStartDate</name>
        <dataType>String</dataType>
        <expression>&quot;Det er en partner-avtale som har start dato i morgen, som du er registrert som eier av. Du m책 endre status p책 avtalen. Det gjelder avtale &quot; + {!$Record.Name} + &quot; p책 virksomhet &quot; + {!$Record.TAG_Account__r.Name}</expression>
    </formulas>
    <formulas>
        <name>pastEndDateFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.TAG_EndDate__c &lt; TODAY()} , true, false)</expression>
    </formulas>
    <interviewLabel>TAG Dialogue Create Journal Entry Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Dialogue Create Journal Entry Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_journal_entry</name>
        <label>Create journal entry</label>
        <locationX>1634</locationX>
        <locationY>1008</locationY>
        <faultConnector>
            <targetReference>Create_Application_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CRM_Created_By_Ident__c</field>
            <value>
                <elementReference>$Record.NavIdent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Created_By_NAV_Unit__c</field>
            <value>
                <elementReference>$Record.TAG_NAVUnit__r.INT_UnitNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Journal_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Journal_Post_Type__c</field>
            <value>
                <stringValue>INNGAAENDE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>$Record.Thread__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journal_Entry_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>JournalEntryRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Journal_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_custom_notification_Record_ID</name>
        <label>Get custom notification Record ID</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAG_Internal_notifictaion_New_message_from_employer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_custom_notification_Record_ID_end_date</name>
        <label>Get custom notification Record ID end date</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Custom_Notification_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAG_Internal_notifictaion_New_message_from_employer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordtype_id</name>
        <label>Get recordtype id</label>
        <locationX>1634</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_journal_entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAG Journal Entry</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>JournalEntryRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>1634</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Thread_found_and_not_journaled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_partner_status</name>
        <label>Update partner status</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>TAG_Status__c</field>
            <value>
                <stringValue>AVSLUTTET</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Thread</name>
        <label>Update Thread</label>
        <locationX>1898</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Check_if_Thread_has_Messages</targetReference>
        </connector>
        <inputReference>Get_Thread</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_of_agreement</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>TAG_EndDialogue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TAG_Type_Partner__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Contract__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-06-14</startDate>
            <startTime>03:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Application_Log</name>
        <label>Create Application Log</label>
        <locationX>1898</locationX>
        <locationY>1116</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>Flow - TAG Dialog Create Journal Entry Final</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Category</name>
            <value>
                <stringValue>Journal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error encountered in thread journal entry creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>Thread__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>contractUserIdsEndDate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractUserIdsStartDate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JournalEntryRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
