force-app/main/default/flows/TAG_Send_to_Archive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_To_Archive</name>
        <label>Send To Archive</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <actionName>ArchiveHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Success_Post</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Status_to_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>archiveData</name>
            <value>
                <elementReference>$Record.Archive_Data__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dokumentasjonId</name>
            <value>
                <elementReference>$Record.Reference_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>konfidentiellt</name>
            <value>
                <elementReference>$Record.Confidential__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opprettetAv</name>
            <value>
                <elementReference>$Record.Domain__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgnr</name>
            <value>
                <elementReference>$Record.Orgnr__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceObject</name>
            <value>
                <elementReference>$Record.Reference_Object__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tema</name>
            <value>
                <elementReference>$Record.Theme__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArchiveHandler</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ArchiveResponse</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Status_Completed_and_Date</name>
        <label>Set Status Completed and Date</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Archived_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ready_for_Deletion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Archive_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Failed</name>
        <label>Set Status Failed</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Archive_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Failed</name>
        <label>Set Status to Failed</label>
        <locationX>770</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Success_Post</name>
        <label>Check Success Post</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Set_Status_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Response Not OK</defaultConnectorLabel>
        <rules>
            <name>Response_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ArchiveResponse</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ArchiveResponse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Completed_and_Date</targetReference>
            </connector>
            <label>Response OK</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TAG Send to Archive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Send to Archive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Log</name>
        <label>Create Application Log</label>
        <locationX>770</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Archive_Entry</targetReference>
        </connector>
        <inputAssignments>
            <field>Application_Domain__c</field>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Archive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_ID__c</field>
            <value>
                <elementReference>$Record.Reference_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_Info__c</field>
            <value>
                <elementReference>$Record.Reference_Object__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>TAG Send to Archive</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Archive_Entry</name>
        <label>Update Archive Entry</label>
        <locationX>374</locationX>
        <locationY>684</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reference_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reference_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <object>Archive_Entry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Send_To_Archive</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ArchiveResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
