force-app/main/default/flows/TAG_Dialogue_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Thread_values</name>
        <label>Set Thread values</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Get_Thread.CRM_isActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Journaled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Thread</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>if a contract has changed status from &quot;Avsluttet&quot; to &quot;Gjennomføres&quot;, means that it has been reopened. In that case we need to reopen the dialogue</description>
        <name>Contract_reopened</name>
        <label>Contract reopened?</label>
        <locationX>270</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Get_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_DialogueActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Thread__r.CRM_Journal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journal Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAG_EndDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Thread</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_thread</name>
        <label>Has thread?</label>
        <locationX>270</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Has_Thread_NAVUnit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has thread</defaultConnectorLabel>
        <rules>
            <name>No_thread</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Thread__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TAG_Thread_record_type_id</targetReference>
            </connector>
            <label>No thread</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Thread_NAVUnit</name>
        <label>Has Thread NAVUnit?</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_NAVUnit_Name_to_related_Thread</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has just NAVUnit</defaultConnectorLabel>
        <rules>
            <name>Has_Not_NAVUnit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_NAVUnit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_reopened</targetReference>
            </connector>
            <label>Has Not NAVUnit</label>
        </rules>
        <rules>
            <name>Has_NAVUnit_and_NAVUnit_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_NAVUnit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAG_NAVUnit__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Thread__r.TAG_Contract_NAV_Unit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_reopened</targetReference>
            </connector>
            <label>Has NAVUnit and NAVUnit Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_NAV</name>
        <label>Is Account NAV?</label>
        <locationX>270</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>No Account is Not NAV</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_is_NAV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractAccountName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NAV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contract_field</targetReference>
            </connector>
            <label>Yes Account is NAV</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TAG Dialogue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Dialogue Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Thread_record</name>
        <label>Create Thread record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>ThreadId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>AAREG_Thread_Subject__c</field>
            <value>
                <elementReference>$Record.TAG_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Account__c</field>
            <value>
                <elementReference>$Record.TAG_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Related_Object__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread_Type__c</field>
            <value>
                <stringValue>AG_MLØNN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TagThreadRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Contract_NAV_Unit__c</field>
            <value>
                <elementReference>$Record.TAG_NAVUnit__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_RelatedObjectExternalId__c</field>
            <value>
                <elementReference>$Record.ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>270</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_NAV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TAG_Account__r.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ContractAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_TAG_Thread_record_type_id</name>
        <label>Get TAG Thread record type id</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Thread_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAG Thread</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TagThreadRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>138</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Thread_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Thread__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_NAVUnit_Name_to_related_Thread</name>
        <label>Set NAVUnit Name to related Thread</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Contract_reopened</targetReference>
        </connector>
        <inputAssignments>
            <field>TAG_Contract_NAV_Unit__c</field>
            <value>
                <elementReference>$Record.TAG_NAVUnit__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Thread__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contract_field</name>
        <label>Update contract field</label>
        <locationX>138</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>TAG_IsAccountNAV__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Contract_reopened</targetReference>
        </connector>
        <inputAssignments>
            <field>NAV_Unit_text_value__c</field>
            <value>
                <elementReference>$Record.TAG_NAVUnit__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thread__c</field>
            <value>
                <elementReference>ThreadId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Thread</name>
        <label>Update Thread</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Get_account</targetReference>
        </connector>
        <inputReference>Get_Thread</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_thread</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName}=&apos;MeasureAgreement&apos;</filterFormula>
        <object>Contract__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TagThreadRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThreadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
