force-app/main/default/flows/TAG_One_Off_Create_Threads_for_Tiltak_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_fields_to_Temp_Thread</name>
        <label>Assign fields to Temp Thread</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>Temp_Thread_Record.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contracts_W_O_Thread.TAG_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Thread_Record.AAREG_Thread_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Midlertidig lønnstilskudd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Thread_Record.CRM_Related_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contracts_W_O_Thread.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Thread_Record.CRM_Thread_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AG_MLØNN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Thread_Record.TAG_RelatedObjectExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contracts_W_O_Thread.ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Thread_Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thread_Record_Type_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Temp_Thread_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Temp_Thread_To_Collection</name>
        <label>Assign Temp Thread To Collection</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>New_Thread_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_Thread_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts_W_O_Thread</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ThreadId_to_Current_Contract</name>
        <label>Assign ThreadId to Current Contract</label>
        <locationX>264</locationX>
        <locationY>1452</locationY>
        <assignmentItems>
            <assignToReference>currentItem_Contract_To_Assign_ThreadId.Thread__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Threads_To_Assign_ThreadId_to_Contracts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Threads_To_Assign_ThreadId_to_Contracts</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Contract_To_Assign_ThreadId</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Contract To Assign ThreadId</label>
        <locationX>264</locationX>
        <locationY>1332</locationY>
        <assignNextValueToReference>currentItem_Contract_To_Assign_ThreadId</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Contract_Tiltak_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Contract_To_Assign_ThreadId.ExternalId__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Threads_To_Assign_ThreadId_to_Contracts.TAG_RelatedObjectExternalId__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_ThreadId_to_Current_Contract</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>TAG One-Off Create Threads for Tiltak Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG One-Off Create Threads for Tiltak Contracts</label>
    <loops>
        <name>Loop_Contracts_W_O_Thread</name>
        <label>Loop Contracts W/O Thread</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <collectionReference>Contract_Tiltak_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_fields_to_Temp_Thread</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Threads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Threads_To_Assign_ThreadId_to_Contracts</name>
        <label>Loop Threads To Assign ThreadId to Contracts</label>
        <locationX>176</locationX>
        <locationY>1212</locationY>
        <collectionReference>New_Thread_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contract_To_Assign_ThreadId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contracts_with_Thread_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Threads</name>
        <label>Create Threads</label>
        <locationX>176</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Loop_Threads_To_Assign_ThreadId_to_Contracts</targetReference>
        </connector>
        <inputReference>New_Thread_Records</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Thread_Record_Type_Id</name>
        <label>Get Thread Record Type Id</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tiltak_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAG_Thread</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Thread_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tiltak_Record_Type_Id</name>
        <label>Get Tiltak Record Type Id</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tiltak_Records_Without_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MeasureAgreement</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Tiltak_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tiltak_Records_Without_Thread</name>
        <label>Get Tiltak Records Without Thread</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contracts_W_O_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tiltak_Record_Type_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Thread__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TAG_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AVSLUTTET</stringValue>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputReference>Contract_Tiltak_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Thread__c</queriedFields>
        <queriedFields>TAG_Account__c</queriedFields>
        <queriedFields>ExternalId__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contracts_with_Thread_Id</name>
        <label>Update Contracts with Thread Id</label>
        <locationX>176</locationX>
        <locationY>1668</locationY>
        <inputReference>Contract_Tiltak_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Thread_Record_Type_Id</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-04-14</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Collection_Contract_Numbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_Tiltak_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Contract_To_Assign_ThreadId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>New_Thread_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Thread__c</objectType>
    </variables>
    <variables>
        <name>Temp_Thread_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Thread__c</objectType>
    </variables>
    <variables>
        <name>Thread_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tiltak_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
