force-app/main/default/flows/TAG_Dialog_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_external_notification</name>
        <label>Send external notification</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>TAG_ExtNotificationFlowController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dispatchWindow</name>
            <value>
                <stringValue>NKS_BUSINESS_HOURS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enterpriseNumber</name>
            <value>
                <elementReference>Get_contract.TAG_Account__r.INT_OrganizationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>ExternId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupingId</name>
            <value>
                <elementReference>Get_contract.KafkaId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationText</name>
            <value>
                <elementReference>Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Get_contract.TAG_EmployerContactPhone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>smsText</name>
            <value>
                <elementReference>SMSNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Get_contract.TAG_ExternalURL__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_external_notification_not_first</name>
        <label>Send external notification not first</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <actionName>TAG_ExtNotificationFlowController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dispatchWindow</name>
            <value>
                <stringValue>NKS_BUSINESS_HOURS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enterpriseNumber</name>
            <value>
                <elementReference>Get_contract.TAG_Account__r.INT_OrganizationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>ExternId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupingId</name>
            <value>
                <elementReference>Get_contract.KafkaId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationText</name>
            <value>
                <elementReference>Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Get_contract.TAG_EmployerContactPhone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>smsText</name>
            <value>
                <elementReference>SMSNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Get_contract.TAG_ExternalURL__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>First_message</name>
        <label>First message?</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Internal_or_external</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not first message</defaultConnectorLabel>
        <rules>
            <name>Is_first_message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_first_message.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_or_external_message</targetReference>
            </connector>
            <label>Is first message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Internal_or_external</name>
        <label>Notify internal or external</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Internal_message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_From_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Read_By_Nav__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Internal message</label>
        </rules>
        <rules>
            <name>External_message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_From_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Read__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_external_notification_not_first</targetReference>
            </connector>
            <label>External message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Internal_or_external_message</name>
        <label>Notify internal or external (first msg)</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_From_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Read_By_Nav__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Internal</label>
        </rules>
        <rules>
            <name>External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_From_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Read__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_external_notification</targetReference>
            </connector>
            <label>External</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExternId</name>
        <dataType>String</dataType>
        <expression>{!Get_contract.ExternalId__c} + TEXT(DATETIMEVALUE(NOW()))</expression>
    </formulas>
    <interviewLabel>TAG Dialog Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Dialog Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contract</name>
        <label>Get contract</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_first_message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_first_message</name>
        <label>Get first message</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Message__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CRM_Sent_date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG_MLØNN</stringValue>
            </value>
        </filters>
        <object>Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Notification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.TAG_DialogNotifikasjon} + {!Get_contract.ExternalId__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SMSNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.TAG_DialogSMSNotifikasjon} + {!Get_contract.ExternalId__c}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
