force-app/main/default/flows/TAG_Send_Custom_Notification_With_Sms_to_Employer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Contract_to_be_Updated</name>
        <label>Add Contract to be Updated</label>
        <locationX>440</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>updateContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_contracts_and_send_notification_with_sms</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contracts_and_send_notification_with_sms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_notified_AccountId</name>
        <label>Add notified AccountId</label>
        <locationX>440</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>AccountNotified</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_contracts_and_send_notification_with_sms.TAG_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contract_to_be_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Employer_To_Be_Notified</name>
        <label>Set Employer To Be Notified</label>
        <locationX>440</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_contracts_and_send_notification_with_sms.TAG_Discussed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_notified_AccountId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Employer_was_notified_already</name>
        <label>Check if Employer was notified already</label>
        <locationX>352</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Set_Employer_To_Be_Notified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has not been notified</defaultConnectorLabel>
        <rules>
            <name>Has_been_notified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountNotified</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_contracts_and_send_notification_with_sms.TAG_Account__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_contracts_and_send_notification_with_sms</targetReference>
            </connector>
            <label>Has been notified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_thread_active</name>
        <label>Is thread active?</label>
        <locationX>528</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Loop_through_contracts_and_send_notification_with_sms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Thread_is_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_contracts_and_send_notification_with_sms.Thread__r.CRM_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Employer_was_notified_already</targetReference>
            </connector>
            <label>Thread is active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TAG Send Custom Notification With Sms to Employer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Send Custom Notification With Sms to Employer</label>
    <loops>
        <name>Loop_through_contracts_and_send_notification_with_sms</name>
        <label>Loop through contracts and send notification with sms</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_contracts_with_possible_Dialogue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_thread_active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract_record_type_MeasureAgreement</name>
        <label>Get Contract record type MeasureAgreement</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contracts_with_possible_Dialogue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MeasureAgreement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contracts_with_possible_Dialogue</name>
        <label>Get contracts with possible Dialogue</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_contracts_and_send_notification_with_sms</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_record_type_MeasureAgreement.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TAG_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MIDLERTIDIG_LONNSTILSKUDD</stringValue>
            </value>
        </filters>
        <filters>
            <field>TAG_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ARBEIDSTRENING</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Eidsvoll Hurdal</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Lillehammer-Gausdal</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Nannestad Gjerdrum</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Nes i Akershus</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Odal</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Sandefjord</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Tønsberg</stringValue>
            </value>
        </filters>
        <filters>
            <field>NAV_Unit_text_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Ullensaker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contracts</name>
        <label>Update Contracts</label>
        <locationX>176</locationX>
        <locationY>1368</locationY>
        <inputReference>updateContracts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_record_type_MeasureAgreement</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-12-10</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountNotified</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
</Flow>
