force-app/main/default/flows/TAG_Dialog_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Custom_Notification</name>
        <label>Create Custom Notification</label>
        <locationX>50</locationX>
        <locationY>1032</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>TAG_Get_custom_notification_Record_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>TAG_RecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Ny melding fra arbeidsgiver</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TAG_NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_contract.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Custom_Notification_not_first</name>
        <label>Create Custom Notification (not first)</label>
        <locationX>1370</locationX>
        <locationY>1032</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationIdNotFirst.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>TAG_RecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Ny melding fra arbeidsgiver</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TAG_NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_contract.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_external_notification_not_first</name>
        <label>Send external notification (not first)</label>
        <locationX>1634</locationX>
        <locationY>708</locationY>
        <actionName>TAG_ExtNotificationFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SaveNotificationExternalIdNotFirst</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sendAsync</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enterpriseNumber</name>
            <value>
                <elementReference>Get_contract.TAG_Account__r.INT_OrganizationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>ExternId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupingId</name>
            <value>
                <elementReference>Get_contract.KafkaId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationText</name>
            <value>
                <elementReference>Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendSms</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Get_contract.TAG_DialogueURL__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendNotificationOppgaveToGoSys</name>
        <label>Send Notification/Oppgave to GoSys</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <actionName>EmployerNotificationOppgaveHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddInternalContactUserId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assignedResource</name>
            <value>
                <elementReference>Get_contract.TAG_InternalContact__r.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assignToUnitNumber</name>
            <value>
                <elementReference>Get_contract.TAG_NAVUnit__r.INT_UnitNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>NotificationGoSys</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dueDays</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organizationNumber</name>
            <value>
                <elementReference>Get_contract.TAG_Account__r.INT_OrganizationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priority</name>
            <value>
                <stringValue>NORM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processingTheme</name>
            <value>
                <stringValue>ab0336</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processingType</name>
            <value>
                <stringValue>ae0034</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskTypeCode</name>
            <value>
                <stringValue>KONT_BRUK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>theme</name>
            <value>
                <stringValue>TIL</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendNotificationOppgaveToGoSysNotFirst</name>
        <label>Send Notification/Oppgave to GoSys (Not First)</label>
        <locationX>1370</locationX>
        <locationY>708</locationY>
        <actionName>EmployerNotificationOppgaveHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddInternalContactUserIdNotFirst</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assignedResource</name>
            <value>
                <elementReference>Get_contract.TAG_InternalContact__r.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assignToUnitNumber</name>
            <value>
                <elementReference>Get_contract.TAG_NAVUnit__r.INT_UnitNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>NotificationGoSys</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dueDays</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organizationNumber</name>
            <value>
                <elementReference>Get_contract.TAG_Account__r.INT_OrganizationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priority</name>
            <value>
                <stringValue>NORM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processingTheme</name>
            <value>
                <stringValue>ab0336</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processingType</name>
            <value>
                <stringValue>ae0034</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskTypeCode</name>
            <value>
                <stringValue>KONT_BRUK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>theme</name>
            <value>
                <stringValue>TIL</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendSmsNotification</name>
        <label>Send sms notification</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <actionName>TAG_ExtNotificationFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SaveNotificationExternalId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dispatchWindow</name>
            <value>
                <stringValue>NKS_BUSINESS_HOURS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enterpriseNumber</name>
            <value>
                <elementReference>Get_contract.TAG_Account__r.INT_OrganizationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>ExternId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupingId</name>
            <value>
                <elementReference>Get_contract.KafkaId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationText</name>
            <value>
                <elementReference>Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Get_contract.TAG_EmployerContactPhone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendAsync</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendSms</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>smsText</name>
            <value>
                <elementReference>SMSNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Get_contract.TAG_DialogueURL__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AddInternalContactUserId</name>
        <label>Add internal contact user id</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>TAG_RecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contract.TAG_InternalContact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TAG_Get_custom_notification_Record_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddInternalContactUserIdNotFirst</name>
        <label>Add internal contact user id (not first)</label>
        <locationX>1370</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>TAG_RecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contract.TAG_InternalContact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCustomNotificationIdNotFirst</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_message</name>
        <label>First message?</label>
        <locationX>1238</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>NotifyInternalOrExternalNotFirst</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not first message</defaultConnectorLabel>
        <rules>
            <name>Is_first_message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_first_message.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contract.TAG_EmployerContactPhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotifyInternalOrExternal</targetReference>
            </connector>
            <label>Is first message</label>
        </rules>
    </decisions>
    <decisions>
        <name>NotifyInternalOrExternal</name>
        <label>Notify internal or external</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_From_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Read_By_Nav__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contract.TAG_InternalContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotificationOppgaveToGoSys</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
        <rules>
            <name>External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_From_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Read__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contract.TAG_EmployerContactPhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSmsNotification</targetReference>
            </connector>
            <label>External</label>
        </rules>
    </decisions>
    <decisions>
        <name>NotifyInternalOrExternalNotFirst</name>
        <label>Notify internal or external (not first)</label>
        <locationX>1898</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>InternalNotFirst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_From_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Read_By_Nav__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contract.TAG_InternalContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotificationOppgaveToGoSysNotFirst</targetReference>
            </connector>
            <label>Internal (not first)</label>
        </rules>
        <rules>
            <name>ExternalNotFirst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_From_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Read__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_external_notification_not_first</targetReference>
            </connector>
            <label>External (not first)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExternId</name>
        <dataType>String</dataType>
        <expression>{!Get_contract.ExternalId__c} + &apos;-&apos; + {!$Record.Id} + &apos;-&apos; +
            {!GetTimeStamp}</expression>
    </formulas>
    <formulas>
        <name>GetTimeStamp</name>
        <dataType>String</dataType>
        <expression>TEXT((DATETIMEVALUE(NOW()) - DATETIMEVALUE( &quot;1970-01-01 00:00:00&quot; )) *
            86400)</expression>
    </formulas>
    <formulas>
        <description>Text to show in notifciation bell in Salesforce</description>
        <name>TAG_NotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;Det har kommet ny melding fra &quot;+ {!Get_contract.TAG_Account__r.Name}</expression>
    </formulas>
    <formulas>
        <name>TimestampNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>TAG Dialog Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Dialog Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Report_Data_Record_Notification</name>
        <label>Create Report Data Record Notification</label>
        <locationX>1634</locationX>
        <locationY>924</locationY>
        <faultConnector>
            <targetReference>Create_Application_Log_Notification</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CRM_Category__c</field>
            <value>
                <stringValue>TAG External Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_contract.ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_ExternalNotificationId__c</field>
            <value>
                <elementReference>ExternId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_ExternalNotifificationSent__c</field>
            <value>
                <elementReference>TimestampNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_MessageRecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NotificationGroupId__c</field>
            <value>
                <elementReference>Get_contract.KafkaId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NotificationType__c</field>
            <value>
                <stringValue>Ekstern varsel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_SentToPhoneNr__c</field>
            <value>
                <elementReference>Get_contract.TAG_EmployerContactPhone__c</elementReference>
            </value>
        </inputAssignments>
        <object>ReportingData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Report_Data_Record_SMS</name>
        <label>Create Report Data Record SMS</label>
        <locationX>314</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>SMS_sent_first_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Application_Log_Sms</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CRM_Category__c</field>
            <value>
                <stringValue>TAG External Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_contract.ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_ExternalNotificationId__c</field>
            <value>
                <elementReference>ExternId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_ExternalNotifificationSent__c</field>
            <value>
                <elementReference>TimestampNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_MessageRecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NotificationGroupId__c</field>
            <value>
                <elementReference>Get_contract.KafkaId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NotificationType__c</field>
            <value>
                <stringValue>Ekstern sms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_SentToPhoneNr__c</field>
            <value>
                <elementReference>Get_contract.TAG_EmployerContactPhone__c</elementReference>
            </value>
        </inputAssignments>
        <object>ReportingData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_contract</name>
        <label>Get contract</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_first_message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_first_message</name>
        <label>Get first message</label>
        <locationX>1238</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Message__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CRM_Sent_date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get ID for custom notification</description>
        <name>GetCustomNotificationIdNotFirst</name>
        <label>Get custom notification ID (not first)</label>
        <locationX>1370</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Custom_Notification_not_first</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAG_Internal_notifictaion_New_message_from_employer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get id for custom notification</description>
        <name>TAG_Get_custom_notification_Record_ID</name>
        <label>Get custom notification Record ID</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAG_Internal_notifictaion_New_message_from_employer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SaveNotificationExternalId</name>
        <label>Save Notification External Id</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Create_Report_Data_Record_SMS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Application_Log_Sms_ExternalId</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>TAG_NotificationSMSExternalId__c</field>
            <value>
                <elementReference>ExternId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SaveNotificationExternalIdNotFirst</name>
        <label>Save Notification External Id (not first)</label>
        <locationX>1634</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Create_Report_Data_Record_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Application_Log_Notification_ExternalId</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>TAG_NotificationExternalId__c</field>
            <value>
                <elementReference>ExternId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG_MLØNN</stringValue>
            </value>
        </filters>
        <object>Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_contract</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Application_Log_Notification</name>
        <label>Create Application Log Notification</label>
        <locationX>1898</locationX>
        <locationY>1032</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>Flow TAG Dialog Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Category</name>
            <value>
                <stringValue>External Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error creating Reporting Data record when triggered by notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>ReportingData__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Application_Log_Notification_ExternalId</name>
        <label>Create Application Log Notification ExternalId</label>
        <locationX>2162</locationX>
        <locationY>924</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>Flow TAG Dialog Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Category</name>
            <value>
                <stringValue>External Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error updating message__c record with externalId for Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>Message__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Application_Log_Sms</name>
        <label>Create Application Log Sms</label>
        <locationX>578</locationX>
        <locationY>1032</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>Flow TAG Dialog Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Category</name>
            <value>
                <stringValue>External Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error creating Reporting Data record when triggered by Sms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>ReportingData__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Application_Log_Sms_ExternalId</name>
        <label>Create Application Log Sms ExternalId</label>
        <locationX>842</locationX>
        <locationY>924</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>Flow TAG Dialog Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Category</name>
            <value>
                <stringValue>External Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error updating message__c record with externalId for Sms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>Message__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SMS_sent_first_message</name>
        <label>SMS sent first message</label>
        <locationX>314</locationX>
        <locationY>1032</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>Get_contract.TAG_EmployerContactPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>Flow - TAG Dialog Notifications Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Category</name>
            <value>
                <stringValue>External notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>SMS message should have been sent for first message</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>Message__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>Get_first_message.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.TAG_DialogNotifikasjon} {!Get_contract.ExternalId__c}</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationGoSys</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hei, du har mottatt en ny melding på en tiltaksavtale tilknyttet din virksomhet.
            Meldingen er tilknyttet avtalenummer: {!Get_contract.ExternalId__c} for
            {!Get_contract.TAG_Account__r.Name}. Du kan svare på meldingen ved å logge inn til
            Salesforce og navigere til Avtalen.</text>
    </textTemplates>
    <textTemplates>
        <name>SMSNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.TAG_DialogSMSNotifikasjon} {!Get_contract.ExternalId__c}</text>
    </textTemplates>
    <variables>
        <description>RecipientIDs</description>
        <name>TAG_RecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
