force-app/main/default/flows/TAG_Event_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Event_to_JSON</name>
        <label>Convert Event to JSON</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <actionName>ArchiveHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Archive_Entry</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>Event</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordsList</name>
            <value>
                <elementReference>EventsList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ArchiveHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ArchiveJson</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Event_to_EventsList</name>
        <label>Add Event to EventsList</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>EventsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Event_to_JSON</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>TAG Event Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Event Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Archive_Entry</name>
        <label>Create Archive Entry</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Archive_Data__c</field>
            <value>
                <elementReference>ArchiveJson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confidential__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domain__c</field>
            <value>
                <stringValue>POAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orgnr__c</field>
            <value>
                <elementReference>$Record.RelatedToAccount__r.INT_OrganizationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Object__c</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <elementReference>$Record.TAG_ActivityType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Archive_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Event_to_EventsList</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG Møte</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IA event</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ArchiveJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
